.title-field {
    padding-bottom: 4px;
    display: block;
}

.input {
    margin: 4px 0;
    display: inline-block;
}

.register-form {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}